.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #282A36	;
}

.container-header a {
  max-height: 100px;
  width: 20%;
  cursor: pointer;
}

.container-header a img {
  max-height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
