.container-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--background-color-secundary);
  color: #FFFFFF;
  box-shadow: 0 -4px 2px #1d1d26;
}

.container-footer span {
  font-weight: normal;
}

.container-footer i {
  color: var(--red-color);
  vertical-align: middle;
}