/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color-primary);
  height: 100vh;
  width: 100vw;
}

:root {
  --background-color-primary: #282A36;
  --background-color-secundary: #44475A;
  --red-color: #FF5555;
  --yellow-color: #F1FA8C;
  --green-color: #50FA7B;
}