.container-table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit {
  color: var(--yellow-color);
  cursor: pointer;
}

.delete {
  color: var(--red-color);
  margin-left: 20px;
  cursor: pointer;
}