<h2 mat-dialog-title>Adicionar nova ONG</h2>
<mat-dialog-content >
  <form class='form-container'>
    <mat-form-field>
      <input matInput placeholder='Nome' [(ngModel)]='currentOng.name' name='name'>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder='Site' [(ngModel)]='currentOng.site' name='site'>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder='Slogan' [(ngModel)]='currentOng.slogan' name='slogan'>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class='container-buttons'>
  <button class='mat-raised-button cancel' (click)='onCancel()' >Cancelar</button>
  <button class='mat-raised-button save' (click)='createOng()'>Salvar</button>
</mat-dialog-actions>